{% extends "layout.html" %}

{% block title %}
    Reset Your Password
{% endblock %}

{% block main %}
<h1 class="container">Confirm New Password</h1>
<form action="/account/passwordconfirmed" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="email" placeholder="e-mail" type="email" value="{{username}}" readonly/>
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="password" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>


<script>
</script>

{% endblock %}
