<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <title>Calsta: {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/"><span class="blue">Calsta</span><span class="red">3W</span><span class="green">Manager</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {% if session.user_id %}
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="{{url_for("manager") }}">3W Manager</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for("completedItems") }}">Completed Items</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for("newitem") }}">New Item</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                <li class="nav-item"><a class="nav-link" href="/account/logout">Log Out</a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/account/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/account/login">Log In</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% for message in get_flashed_messages(with_categories=True) %}
    <header>
        <div class="alert alert-{{ message[0] }} border text-center" role="alert">
            {{ message[1] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </header>
    {% endfor %}

    <main class="p-3">
        {% block main %}{% endblock %}
    </main>

    <footer class="text-center">
        <a class="up-arrow" href="#input" data-toggle="tooltip" title="TO INPUT PAGE">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>&copy 2018 - Website made by <a href="#" data-toggle="tooltip" title="See my other great websites">Matt Taylor</a></p>
        <p style="color: lightblue;" id="date3"></p>


    </footer>

    <script>
        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>
