{% extends "layout.html" %}

{% block title %}
    3W Manager
{% endblock %}

{% block main %}

<style>
    td {
        padding: 0px;
    }
    td a {
        display: block;
        color: black;
    }
    tr:hover { 
        background: grey;
        color: blue;
    }

    .Overdue {
        background: red;
    }

    .WIP {
        background: rgba(255, 166, 0, 0.589);
    }

</style>

<h1>{{ who }}</h1>

<a href="/newitem" class="btn btn-primary m-2">New Item</a>


    <table class="table table-bordered">
        <thead class="thead-dark">
        <th scope="col">Item #</th>
        <th scope="col">What</th>
        <th scope="col">Who</th>
        <th scope="col">When</th>
        <th scope="col">Status</th>
        <th scope="col">Detail</th>
        <th scope="col">Requester</th>
        </thead>

    {% for item in items %}
        {% if not item['complete'] %}
        
    <tr>  
      <td><a href="/item/{{item['id']}}">{{ item['id'] }}</td></a>
      <td><a href="/item/{{item['id']}}">{{ item['what'] }}</a></td>
      <td><a href="/item/{{item['id']}}">{{ item['who'] }}</a></td>
      <td><a href="/item/{{item['id']}}">{{ item['when'] }}</a></td>
      <td class="{{item['stat']}}"><a href="/item/{{item['id']}}">{{ item['stat'] }}</a></td>
      <td><a href="/item/{{item['id']}}">{{ item['detail'] }}</a></td>
      <td><a href="/item/{{item['id']}}">{{ item['requester'] }}</a></td>

    </tr>
        {% endif %}
    {% endfor %}

    </table>





<script>


</script>
{% endblock %}
